Repository project-march/gait-generation: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add common rqt
  march_rqt_gait_generator/package.xml
Due: none

Ignore flake8 init
  .flake8
Due: none

Fix imports
  march_rqt_gait_generator/src/march_rqt_gait_generator/__init__.py
Due: production

Install pyqtgraph dependency manually
  .travis.yml
  march_rqt_gait_generator/package.xml
Due: none

Change build to noetic
  .rosinstall
  .travis.yml
Due: none

Update cmake and package manifest
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/scripts/march_rqt_gait_generator
Due: none

Use setuptools
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/setup.py
Due: none

Run 2to3 with all fixers enabled
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_spin_box_delegate.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/__init__.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
  march_rqt_gait_generator/test/run_tests.py
Due: production, test

Fix failing test
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: test

Fix error when canceling import
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Add tests
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: test

Fix flake8
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: test

Check that every joint does not have one setpoint
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: production, test

Add test file
  march_rqt_gait_generator/test/resources/home/home_sit/MIV_ankle_0.subgait
Due: test

Update README.md
  README.md
Due: none

Path conditions:
  production: any of: */src/**/*
  test: any of: */test/*, */test/**/*
